<h2>
  <span itemprop="name"><%= document_heading(document) %></span>
  <small>
    <% if document['dc_type_s'] == 'Collection' %>
      <span class="glyphicon glyphicon-list geoblacklight-icon" title="Collection"></span>
    <% else %>
      <%= geoblacklight_icon(document['layer_geom_type_s']) %>
    <% end %>
    <%= geoblacklight_icon(document['dct_provenance_s']) %>
    <%= geoblacklight_icon(document['dc_rights_s']) %>
  </small>
</h2>